.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.search-form {
  position: relative;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;

  & svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
  }
}

.article-list {
  margin: 20px auto;
  background: #fff;
  width: 1000px;
  padding: 20px;
}

.article {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-group {
  display: flex;
}

.btn {
  height: 40px;
  width: 150px;
  border-radius: 40px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }

  &:disabled {
    box-shadow: initial;
    cursor: initial;
  }
}

.page-info {
  padding: 10px 100px;
}

.loading-indicator {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}