body {
  color: #222;
  background: #ccc;
  font: 400 16px 'Open Sans', Arial, sans-serif;
}

a {
  color: #222;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  color: #222;
}

*:focus {
  outline: none;
}